:root {
    --NAVY: rgb(15, 50, 61);
    --ICON-COLOR: white;
}

html {
  scroll-behavior: smooth;
}

body {
    background-color: hsl(122, 33%, 84%);
    font-family: "Google Sans Code", Helvetica;
    color: white;
}

@font-face {
  font-family: 'KaTeX_Main';
  src: url('https://cdn.jsdelivr.net/.../KaTeX_Main-Regular.woff2') format('woff2');
  font-display: swap;
}

@media (max-width: 800px) {
    .header {
        scale: 0.7;
    }
    .project-card-container {
        grid-template-columns: 1fr;
    }
}

button {
    border: none;
    background-color: inherit;
    cursor: pointer;
}

.menu-icon {
    position: absolute;
    display: block;
    font-size: 3.5em;
    color: var(--NAVY);
    transition: transform 0.4s ease, scale 0.2s ease;
}

.menu-icon:hover {
    transform: skewX(-10deg);
    scale: 1.2;
}

#menu {
    position: absolute;
    visibility: hidden;
    background-color: bisque;
    padding: 1em 2em;
    border-style: solid;
    border-color: var(--NAVY);
    border-radius: 0 14px 14px 0;
    transform: translate(-130%, -5.4%);
    transition: transform 1s ease;
}

#menu.open {
    transform: translate(-7%, -5.4%);
}

.list-icon {
    top: 10px;
    left: 0.3em;
}

.menu-item {
    color: var(--NAVY);
    list-style-type: none;
    line-height: 5em;
    transition: opacity 0.3s ease, scale 0.3s ease;
}

#menu:has(.menu-item:hover) .menu-item:not(.menu-item:hover) {
    opacity: 0.4;
}

.menu-item:hover {
    scale: 1.04;
    transition: scale 0.2s;
}

.nav-option {
    display: flex;
    align-items: center;
}

.nav-icon {
    font-size: 1.5em;
}

.nav-text {
    margin-left: 1em;
    flex-grow: 5;
}

.header {
    color: var(--NAVY);
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 8%;
}

.integral {
    display: inline-block;
    position: relative;
    font-size: 45%;
    z-index: 10;
    bottom: 3.7px;
    right: 1px;
    animation: firstLetterAnimation 4s ease forwards;
}

.letter-s {
    display: inline-block;
    position: relative;
    opacity: 0;
    z-index: 2;
    margin-left: -42px;
    bottom: 0.1px;
    animation: nameFadeIn 4s ease forwards;
}

.blackboard-z {
    display: inline-block;
    position: relative;
    font-size: 52px;
    z-index: 10;
    bottom: -7.5px;
    animation: firstLetterAnimation 4s ease forwards;
}

.letter-z {
    display: inline-block;
    position: relative;
    opacity: 0;
    z-index: 2;
    margin-left: -35px;
    bottom: -0.43px;
    animation: nameFadeIn 4s ease forwards;
}

@keyframes firstLetterAnimation {
    0% {opacity: 0; transform: translateY(-20px);}
    28% {opacity: 1; transform: translateY(-7px);}
    29%, 75% {opacity: 1; transform: translateY(-7px);}
    87%, 100% {opacity: 0; transform: translateX(-4px);}
}

@keyframes nameFadeIn {
    0%, 84% {opacity: 0; transform: translateX(8px) translateY(-14px);}
    100% {opacity: 1;}
}

.content-bar {
    height: 10vh;
    border-radius: 8px 8px 0 0;
    background-color: hsl(201, 20%, 23%);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

/* .nav-bar:has(.nav-section:hover) .nav-section:not(.nav-section:hover) {
    opacity: 0.2;
}

.nav-section {
    display: flex;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: var(--NAVY);
    padding: 0px 30px;
    transition: opacity 0.3s ease, scale 0.3s ease;
}

.nav-section:hover {
    scale: 1.04;
    transition: scale 0.2s;
} */

.main-card {
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 3px 8px 5px rgba(0, 0, 0, 0.4);
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    background-color: hsl(165, 38%, 27%);
    padding: 1em;
}

.section {
    margin: 0 1%;
    padding: 1%;
}

.project-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4% 1.2%;
}

.project-card {
    padding: 1.3rem;
    position: relative;
    display: inline-block;
    border-radius: 14px;
    background-color: hsl(201, 40%, 14%);
    box-shadow: 1px 1px 7px #b4ffec;
    transition: scale 0.2s;
}

.project-card:hover {
    scale: 1.01;
    transition: 0.3s ease;
    background-color: hsl(200, 33%, 18%);
}

.project-card-description {
    opacity: 0.6;
    margin-bottom: 3.5%;
}

.about-intro {
    transform: translate(0, 25%);
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white;
    display: inline-block;
    width: 0;
    margin-top: 1.1em;
    margin-bottom: 1.1em;
}

.about-intro.animate {
    animation: 
        typing 2s steps(13) forwards,
        blink 0.4s step-end infinite alternate;
}

@keyframes typing {
    from {width: 0;}
    to {width: 13ch;}
}

@keyframes blink {
    50% {border-color: transparent;}
}

.intro-section-card-header {
    padding: 0 1.8%;
}

.about-name {
    font-size: 2em;
    margin-top: 16px;
}

.section-card {
    position: relative;
    display: block;
    border-radius: 14px;
    background-color: hsl(201, 40%, 14%);
    box-shadow: 1px 1px 7px hsl(165, 100%, 85%);
}

.description {
    opacity: 0.6;
}

.section-card-header {
    padding: 1.8%;
}

.card {
    transition: scale 0.3s, background-color 0.3s;
}

.card:hover {
    scale: 1.0017;
    background-color:hsl(201, 20%, 23%);
    transition: 0.2s;
}

.social-container {
    display: flex;
    column-gap: 2.3%;
    margin-top: 2.7%;
}

.social-icon {
    font-size: 2.9em;
    color: var(--ICON-COLOR);
    opacity: 0.6;
    transition: scale 0.2s;
}

.social-icon:hover {
    scale: 1.1;
    transition: 0.2s;
}

a {
    color: inherit;
    text-decoration: none;
}